* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
ul {
    list-style-type: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.global-dropdown {
    width: 120px;
    padding: 5px;

    &:focus-visible {
        outline: none;
    }

    &:hover {
        border-color: #d1d5db;
    }
}

.calendar-custom {
    // padding: 0 6rem;
    width: 100%;
    position: relative;
    border-radius: 24px;
    // border: 1px solid rgba(86, 44, 44, 0.3);
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(242, 84, 45, 0.1);
}

.p-datepicker-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-datepicker-next,
.p-datepicker-prev {
    color: #f2542d;
}
.p-datepicker-calendar {
    margin: 2rem;
    .p-element {
        padding: 0 2rem;
        border-radius: 8px;
        border: 1px solid #d7d7d7;
        background: #fff;
    }
    .p-highlight {
        padding: 0 2rem;
        border-radius: 8px;
        border: 1px solid #f2542d;
        background: #fff4f1;
        color: #562c2c;
    }
}
.p-datepicker-today {
    .p-element {
        padding: 0 2rem;
        border-radius: 8px;
        border: 1px solid #f2542d;
        background: #fff4f1;
        color: #562c2c;
    }
}

.p-editor-container {
    width: 100%;
    border-radius: 123px;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(242, 84, 45, 0.1);
    color: #aaa;
}

.p-editor-container .p-editor-toolbar.ql-snow .ql-picker .ql-picker-label {
    color: #0e9594;
}

.p-editor-toolbar {
    span .ql-picker-label {
        color: #0e9594;
    }
}

.p-fileupload-choose {
    color: #1e88f9;
    background-color: #fff;
    border: none;
    .p-icon-wrapper {
        display: none;
    }
}
